/* regole generali */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'myFirstFont', sans-serif;
}

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
  }

.buttonwhite{
    width: 50px;
    height: 50px;
    border-radius: 25%;
    background-color: white;
    color: red;
}
/* regole header */

header{
    background-color:aqua;
    margin-bottom: 30px;
}

#main-nav,#footer-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#main-nav{
    height: 200px;
}

#logo{
    font-size: 40px;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-basis: 400px;
}

.button
{
    border-radius: 25%;
   
}
.white{
    background-color: white;
    color:black;
}
section{
    padding: 100px 0px;
    justify-content: center;
    flex-wrap: wrap;
}
#center-text{
    text-align: center;
}
header section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0% 20%;
    padding-bottom: 100px;

}

/* regole parte centrale */
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;

}
.white-back{
    background-color: white;
}
.grey-back{
    background-color: rgb(246,246,246);
}
.box-img{
    max-height: 50%;
}

.box-text{
    width: 30%;
}

.upndown{
    flex-direction: column;
    align-items: center;
}

/* regole nav secondaria */

.sidebar{
width: 25%;
padding-left: 10px;
}
.sidebar ul{
    list-style-type: none;
}

/* regole contenuto principale */
main section{
    display: flex;
    justify-content: center;
}
/* regole footer */

footer{
    min-height: 300px;
    background-color: brown;

}
footer ul{
    list-style: none;
    align-items: baseline;
}
#footer-nav-top{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: solid 2px rgb(88,101,242);
    width: 80%;
    margin: 0 10%;
}

#footer-nav-bottom{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 10%;
}

 /* DEBUG  */

.sidebar{
    background-color: crimson;
    min-height: 150px;
    padding-left: 15px;
}

main{
    background-color: aqua;
    min-height: 300px;
}
